body {
    background: #EEF9BF;
}

header {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
    margin: 40px auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    height: 146px;
    width: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #A7E9AF;
}

.frontParrot {
    height: 100px;
    width: 100px;
}