body {
    background: #EEF9BF;
}

header {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
    margin: 40px auto;
}

@media (max-width: 629px) {
    

}